*:not(img):not(:empty):not([aria-hidden="true"]):not([class*="icon"]) {
    font-display: block !important;
    font-style: normal !important;
  }
  body.omolab-body-1575565023015-752 {
    background-color: rgb(254, 222, 117);
    color: #000;
  }
  body.omolab-body-1575565023015-752, body.omolab-body-1575565023015-752 *:not(img):not(:empty):not([aria-hidden="true"]):not([class*="icon"]):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-family: OmoTypeB-BoldFour !important;
    font-size: 12px !important;
    line-height: 1.25 !important;
  }
  body.omolab-body-1575565023015-752 h1, body.omolab-body-1575565023015-752 h1 *,body.omolab-body-1575565023015-752 h2, body.omolab-body-1575565023015-752 h2 *,body.omolab-body-1575565023015-752 h3, body.omolab-body-1575565023015-752 h3 *,body.omolab-body-1575565023015-752 h4, body.omolab-body-1575565023015-752 h4 *,body.omolab-body-1575565023015-752 h5, body.omolab-body-1575565023015-752 h5 *,body.omolab-body-1575565023015-752 h6, body.omolab-body-1575565023015-752 h6 * {
    font-family: OmoTypeB-RegularOne !important;
    font-size: 32px !important;
    line-height: 1.75 !important;
  }
  
  .omolab-body-1575565023015-752 .js-widget-dialog {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .omoContainer {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .omoBox {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-avatar {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-badge {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 a.s-badge:hover {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-badge__tag {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 a.s-badge__tag:hover {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-badge__gold {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 a.s-badge__gold:hover {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-badge__silver {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 a.s-badge__silver:hover {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-badge__bronze {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 a.s-badge__bronze:hover {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-badge__bounty {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 a.s-badge__bounty:hover {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-badge__votes {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 a.s-badge__votes:hover {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-badge__answered {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 a.s-badge__answered:hover {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-badge__rep {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 a.s-badge__rep:hover {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-badge__rep-down {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 a.s-badge__rep-down:hover {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-badge__mini {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 a.s-badge__mini:hover {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-badge__important {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 a.s-badge__important:hover {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-card {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-label--status {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-label--status.s-label--status__required {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-label--status.s-label--status__new {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-label--status.s-label--status__beta {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-input-fill {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-select > select {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-input[disabled],.omolab-body-1575565023015-752 .s-textarea[disabled],.omolab-body-1575565023015-752 .s-select > select[disabled],.omolab-body-1575565023015-752 .s-input[read-only],.omolab-body-1575565023015-752 .s-textarea[read-only],.omolab-body-1575565023015-752 .s-select > select[read-only] {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-modal--dialog {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-popover {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-progress {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-progress--bar {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-progress__brand .s-progress--bar {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-progress__info .s-progress--bar {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-progress__privilege .s-progress--bar {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-progress__gold .s-progress--bar {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-progress__silver .s-progress--bar {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-progress__bronze .s-progress--bar {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-progress.s-progress__stepped .s-progress--stop {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-progress.s-progress__stepped .s-progress--bar {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-progress.s-progress__stepped .s-progress--step.is-active .s-progress--bar.s-progress--bar__left {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-progress.s-progress__stepped .s-progress--step.is-active .s-progress--stop {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-progress.s-progress__stepped .s-progress--step.is-complete .s-progress--bar,.omolab-body-1575565023015-752 .s-progress.s-progress__stepped .s-progress--step.is-complete .s-progress--stop {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-table thead th {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-table.s-table__stripes thead th {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-table.s-table__stripes tbody tr:nth-child(2n) {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-table tr.is-disabled {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-option-toggle .s-label {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-option-toggle .s-radio:checked + .s-label {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-option-toggle.s-option-toggle__primary .s-label:hover {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-option-toggle.s-option-toggle__primary .s-radio:checked + .s-label {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-option-toggle.s-option-toggle__switch .s-radio:checked + .s-label:not(.s-label__off) {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-sidebarwidget {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-sidebarwidget--header {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-sidebarwidget__blue {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-sidebarwidget__blue .s-sidebarwidget--header {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-sidebarwidget__yellow {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-sidebarwidget__yellow .s-sidebarwidget--header {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-sidebarwidget__green {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .s-sidebarwidget__green .s-sidebarwidget--header {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .bg-black-900,.omolab-body-1575565023015-752 .h\:bg-black-900:hover,.omolab-body-1575565023015-752 .f\:bg-black-900:focus {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  .omolab-body-1575565023015-752 .f\:bg-black-900:focus-within {
    color: #000;
    background-color: rgb(254, 222, 117);
  }
  