<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="omo-eye" id="parent">
</div>
<div class="omo-totem" id="totem"></div>

<div class="omo-totem-font-size" id="font"></div>
<div class="omo-totem-font-size-left" id="font-hand-left"></div>
<div class="omo-totem-font-size-up" id="font-size-up"></div>
<div class="omo-totem-font-size-container" id="font-size-container"></div>
<div class="omo-totem-font-size-down" id="font-size-down"></div>
<input type="hidden" id="totem_bsize">

<div class="omo-totem-font-type" id="font-type"></div>
<div class="omo-totem-font-type-left" id="font-type-hand-left"></div>
<div class="omo-totem-font-type-up" id="font-type-up"></div>
<div class="omo-totem-font-type-container" id="font-type-container"></div>
<div class="omo-totem-font-type-down" id="font-type-down"></div>
<input type="hidden" id="totem_body_ff">

<div class="omo-totem-font-weight" id="font-weight"></div>
<div class="omo-totem-font-weight-left" id="font-weight-hand-left"></div>
<div class="omo-totem-font-weight-up" id="font-weight-up"></div>
<div class="omo-totem-font-weight-container" id="font-weight-container"></div>
<div class="omo-totem-font-weight-down" id="font-weight-down"></div>
<input type="hidden" id="totem_font_weight">

<div class="omo-totem-font-spacing" id="font-spacing"></div>
<div class="omo-totem-font-spacing-left" id="font-spacing-hand-left"></div>
<div class="omo-totem-font-spacing-up" id="font-spacing-up"></div>
<div class="omo-totem-font-spacing-container" id="font-spacing-container"></div>
<div class="omo-totem-font-spacing-down" id="font-spacing-down"></div>
<input type="hidden" id="totem_bspacing">


<div class="omo-totem-line-spacing" id="line-spacing"></div>
<div class="omo-totem-line-spacing-left" id="line-spacing-hand-left"></div>
<div class="omo-totem-line-spacing-up" id="line-spacing-up"></div>
<div class="omo-totem-line-spacing-container" id="line-spacing-container"></div>
<div class="omo-totem-line-spacing-down" id="line-spacing-down"></div>
<input type="hidden" id="totem_bheight">

<div class="omo-totem-background" id="background"></div>

<div class="omo-totem-background-left" id="background-left"></div>
<div class="omo-totem-background-white" id="EFF3EE"></div>
<div class="omo-totem-background-grey" id="D9D8D8"></div>
<div class="omo-totem-background-black" id="231F20"></div>
<div class="omo-totem-background-blue" id="9FB5DE"></div>
<div class="omo-totem-background-pink" id="B894C4"></div>
<div class="omo-totem-background-orange" id="E2B0AF"></div>
<input type="hidden" id="selectedBackground" />

<div class="omo-totem-off" id="ignite"></div>
<input type="hidden" id="applyOverides">

<div class="omo-totem-info" id="info"></div>

<div
  style="position:fixed; top:20%; left:70%; float: right; background-color: yellow; width: 10%; height: 10%; border: 1px solid; z-index: 10009;">
  <div class="omo-eye-t">
    <img src="/img/widget-slice/windget-icon-off.svg" width="100%" height="100%">
  </div>
</div>

<div
  style="position:fixed; top:25%; left:70%; float: right; background-color: red; width: 10%; height: 60%; z-index: 10009;">
  <!-- <div style="float: right; width: 25%; height: 100%; background-color: blue;"> -->
  <div class="omo-totem-t">
    <div style="float:right; width:100%; height: 10%;  border: 1px solid;"></div>
    <!--  background-image: url('/img/widget-slice/botuni/botun-velicina-slova-off.svg') ;" -->
    <div style="float:right; width:100%; height: 10%;  border: 1px solid;" onclick="alert('sssss')">
      <img src="/img/widget-slice/botuni/botun-velicina-slova-off.svg" width="100%" height="100%">
    </div>
    <div style="float:right; width:100%; height: 10%; background-color: azure; border: 1px solid;">BB</div>
    <div style="float:right; width:100%; height: 10%; background-color: azure; border: 1px solid;">FS</div>
    <div style="float:right; width:100%; height: 10%; background-color: azure; border: 1px solid;">LH</div>
    <div style="float:right; width:100%; height: 10%; background-color: azure; border: 1px solid;">COL</div>
    <div style="float:right; width:100%; height: 10%; background-color: azure; border: 1px solid;">PW</div>
    <div style="float:right; width:100%; height: 10%; background-color: azure; border: 1px solid;">I</div>
  </div>
  <div
    style="float: inline-end;  white-space: nowrap; width: 100%; height: 10%; background-color: rgb(224, 235, 224); z-index: 10009;  border: 3px solid;">
    EMPTY</div>
  <!-- style="float: inline-end;  white-space: nowrap; width: 100%; height: 9%; background-color: green; z-index: 10009;  border: 3px solid;" -->
  <div class="omo-totem-font-size-left-t">

    <div style="display:inline-block;  width: 35%; height: 100%; ;z-index: 10009;">a
    </div>
    <div style="display:inline-block;  width: 35%; height: 100%;  z-index: 10009;">b
    </div>

  </div>
  <div
    style="float: inline-end;  white-space: nowrap; width: 100%; height: 10%; background-color: green; z-index: 10009;  border: 3px solid;">
    <!-- <div style="display: inline-block;z-index: 10007;"> -->
    <div style="display:inline-block;  width: 25%; height: 100%; background-color: rgb(230, 209, 22);z-index: 10009;">
    </div>
    <div style="display:inline-block;  width: 25%; height: 100%; background-color: rgb(207, 182, 182); z-index: 10009;">
    </div>
    <div style="display:inline-block; width: 25%; height: 100%; background-color: rgb(183, 207, 182); z-index: 10009;">
    </div>
    <!-- </div> -->
  </div>
  <!-- <br> -->
  <div style="float: inline-start; width: 100%; height: 10%; background-color: white; z-index: 10009;"></div>
</div>