<!-- <div class="js-widget-overlay">
</div>
<div class="js-widget-dialog"></div> -->
    <div class="omoContainer">
        <div class="omoClose" style="float:right;"><div>X</div></div>
        <div class="omoBox">
          <div class="omoElements">
            <label>Background collor </label><input type="color" id="bgColor" name="head" value="#e66465">
            <label>Header text props</label> <input type="number" id="hsize" min="10" max="35">
            <select id="header_ff">
                <option value="Georgia">Georgia</option>
                <option value="Arial">Arial</option>
                <option value="Roboto">Roboto</option>
                <option value="Courier">Courier</option>
                <option value="Comic Sans MS">Comic Sans MS</option>
              </select>
            <label>Body text props</label> <input type="number" id="bsize" min="10" max="35">
            <select id="body_ff">
                <option value="Georgia">Georgia</option>
                <option value="Arial">Arial</option>
                <option value="Roboto">Roboto</option>
                <option value="Courier">Courier</option>
                <option value="Comic Sans MS">Comic Sans MS</option>
              </select>
          </div>
          <div class="omoControl">
            Ignite:<input type="checkbox" id="applyOverides">
          </div>
        </div>
      
      
      </div>


    



