<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="omo-eye" id="parent">
</div>
<div class="omo-totem" id="totem"></div>

<div class="omo-totem-font-size" id="font"></div>
<div class="omo-totem-font-size-left" id="font-hand-left"></div>
<div class="omo-totem-font-size-up" id="font-size-up"></div>
<div class="omo-totem-font-size-container" id="font-size-container"></div>
<div class="omo-totem-font-size-down" id="font-size-down"></div>
<input type="hidden" id="totem_bsize">

<div class="omo-totem-font-type" id="font-type"></div>
<div class="omo-totem-font-type-left" id="font-type-hand-left"></div>
<div class="omo-totem-font-type-up" id="font-type-up"></div>
<div class="omo-totem-font-type-container" id="font-type-container"></div>
<div class="omo-totem-font-type-down" id="font-type-down"></div>
<input type="hidden" id="totem_body_ff">

<div class="omo-totem-font-weight" id="font-weight"></div>
<div class="omo-totem-font-weight-left" id="font-weight-hand-left"></div>
<div class="omo-totem-font-weight-up" id="font-weight-up"></div>
<div class="omo-totem-font-weight-container" id="font-weight-container"></div>
<div class="omo-totem-font-weight-down" id="font-weight-down"></div>
<input type="hidden" id="totem_font_weight">

<div class="omo-totem-font-spacing" id="font-spacing"></div>
<div class="omo-totem-font-spacing-left" id="font-spacing-hand-left"></div>
<div class="omo-totem-font-spacing-up" id="font-spacing-up"></div>
<div class="omo-totem-font-spacing-container" id="font-spacing-container"></div>
<div class="omo-totem-font-spacing-down" id="font-spacing-down"></div>
<input type="hidden" id="totem_bspacing">


<div class="omo-totem-line-spacing" id="line-spacing"></div>
<div class="omo-totem-line-spacing-left" id="line-spacing-hand-left"></div>
<div class="omo-totem-line-spacing-up" id="line-spacing-up"></div>
<div class="omo-totem-line-spacing-container" id="line-spacing-container"></div>
<div class="omo-totem-line-spacing-down" id="line-spacing-down"></div>
<input type="hidden" id="totem_bheight">

<div class="omo-totem-background" id="background"></div>
<!-- <img class="omo-totem-background-left" id="background-left" usemap="#colormap" />

<map name="colormap" class="omo-totem-background">
  <area shape="circle" coords="500,100,150,126" href="mercur.htm">ssss</area>
  <area shape="circle" coords="90,58,3" href="mercur.htm" alt="Mercury">hhhh</area>
  <area shape="circle" coords="124,58,8" href="venus.htm" alt="Venus">
  <area shape="circle" coords="0,0,82,126" value="white" onclick="">
  <area shape="circle" coords="90,58,3" href="mercur.htm" alt="Mercury">
  <area shape="circle" coords="124,58,8" href="venus.htm" alt="Venus">
</map> -->


<div class="omo-totem-background-left" id="background-left"></div>
<div class="omo-totem-background-white" id="EFF3EE"></div>
<div class="omo-totem-background-grey" id="D9D8D8"></div>
<div class="omo-totem-background-black" id="231F20"></div>
<div class="omo-totem-background-blue" id="9FB5DE"></div>
<div class="omo-totem-background-pink" id="B894C4"></div>
<div class="omo-totem-background-orange" id="E2B0AF"></div>
<input type="hidden" id="selectedBackground" />

<div class="omo-totem-off" id="ignite"></div>
<input type="hidden" id="applyOverides">

<div class="omo-totem-info" id="info"></div>