
<meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="omoContainer">
      <div class="omoClose" id="omoClose"><img src="/img/close.png" style="width: 30px; height: 30px; "></div>
        <div class="omoBox">
          <div class="omoElements">
              <div id="globalOptions" class="globalOptions">
                <!-- <div class='caption'>Background</div> -->
                 <div id="bgColor" class="bgColor">
                          <div class="col" id="color_1" style="background-color:#FFFFFF"></div>
                          <div class="col" id="color_2" style="background-color:#F1F5ED"></div>
                          <div class="col" id="color_3" style="background-color:#000000"></div>
                          <div class="col" id="color_4" style="background-color:#9FB5DE"></div>
                          <div class="col" id="color_5" style="background-color:#B0DED5"></div>
                          <div class="col" id="color_6" style="background-color:#B1D89A"></div>
                          <div class="col" id="color_7" style="background-color:#FAF293"></div>
                          <div class="col" id="color_8" style="background-color:#FEDE75"></div>
                          <div class="col" id="color_9" style="background-color:#B894C4"></div>
                          <div class="col" id="color_10" style="background-color:#FBD4B5"></div>
                          <div class="col" id="color_11" style="background-color:#E2B0AF"></div>
                          <div class="col" id="color_12" style="background-color:#D9D8D8"></div>
                          <div class="col-empty" id="noBackground" style="background-color: transparent;">NO BACKGROUND
                          </div>
                  </div>
              </div>
            
            <div class="headerOptions">
              <strong>Naslov</strong> 
              <input type="image" src="/img/FONT-SIZE-ICON.png"><input type="number" id="hsize" min="10" max="35" >
              <input type="image" src="/img/LETTER-SPACING-ICON.png" ><input type="number" id="hspacing" min="-1" max="5" step="0.5"  value="0">
              <input type="image" src="/img/LINE-HEIGHT-ICON.png" ><input type="number" id="hheight" min="20" max="25" step="0.3" value="20">
              <select id="header_ff">
                <option value="Roboto,sans-serif">Postojeći</option>
                <option value="dLightOne">dLightOne</option>
                <option value="dMediumOne">dMediumOne</option>
                <option value="dRegularOne">dRegularOne</option>
                <option value="dRegularTwo">dRegularTwo</option>
                <option value="dBookOne">dBookOne</option>
                <option value="dBoldOne">dBoldOne</option>
                <option value="dBlackOne">dBlackOne</option>
                <option value="dBlackTwo">dBlackTwo</option>
                </select>
          </div>
           
            <div class="bodyOptions">
              <strong>Tekst &nbsp;&nbsp;</strong>
              <input type="image" src="/img/FONT-SIZE-ICON.png"><input type="number" id="bsize" min="10" max="35" value="13">
              <input type="image" src="/img/LETTER-SPACING-ICON.png" ><input type="number" id="bspacing" min="-1" max="5" step="0.5" value="0">
              <input type="image" src="/img/LINE-HEIGHT-ICON.png" ><input type="number" id="bheight" min="20" max="25" step="0.3" value="20">
              <select id="body_ff">
                <option value="Roboto,sans-serif">Postojeći</option>
                <option value="dLightOne">dLightOne</option>
                <option value="dMediumOne">dMediumOne</option>
                <option value="dRegularOne">dRegularOne</option>
                <option value="dRegularTwo">dRegularTwo</option>
                <option value="dBookOne">dBookOne</option>
                <option value="dBoldOne">dBoldOne</option>
                <option value="dBlackOne">dBlackOne</option>
                <option value="dBlackTwo">dBlackTwo</option>

              </select>
            </div>
          </div>
          <div class="omoControl">
            <label class="switch">
              <input type="checkbox" id="applyOverides">
              <span class="slider round"></span>
            </label>
            
          </div>
          <div class="omoSave">
            <!-- <input type="image" src="/img/SAVE-ICON.png" style="width: 35px; height: 35px;" id="saveConf" > -->
          </div>
        </div>
      
      
      </div>


    



