/* OmoTypeA */
@font-face {
  font-family: OmoTypeA-;
  src: url("https://api.omoguru.com/webwidget/fonts/woff/OmoTypeA-RegularOne.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OmoTypeA-;
  src: url("https://api.omoguru.com/webwidget/fonts/woff/OmoTypeA-MediumOne.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: OmoTypeA-;
  src: url("https://api.omoguru.com/webwidget/fonts/woff/OmoTypeA-BoldOne.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: OmoTypeA-;
  src: url("https://api.omoguru.com/webwidget/fonts/woff/OmoTypeA-BlackOne.woff")
    format("woff");
  font-weight: 800;
  font-style: normal;
}

/* OmoTypeB */
@font-face {
  font-family: OmoTypeB-;
  src: url("https://api.omoguru.com/webwidget/fonts/woff/OmoTypeB-RegularOne.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OmoTypeB-;
  src: url("https://api.omoguru.com/webwidget/fonts/woff/OmoTypeB-MediumOne.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: OmoTypeB-;
  src: url("https://api.omoguru.com/webwidget/fonts/woff/OmoTypeB-BoldOne.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: OmoTypeB-;
  src: url("https://api.omoguru.com/webwidget/fonts/woff/OmoTypeB-BlackOne.woff")
    format("woff");
  font-weight: 800;
  font-style: normal;
}

/* OmoTypeC */
@font-face {
  font-family: OmoTypeC-;
  src: url("https://api.omoguru.com/webwidget/fonts/woff/OmoTypeC-RegularOne.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OmoTypeC-;
  src: url("https://api.omoguru.com/webwidget/fonts/woff/OmoTypeC-MediumOne.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: OmoTypeC-;
  src: url("https://api.omoguru.com/webwidget/fonts/woff/OmoTypeC-BoldOne.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: OmoTypeC-;
  src: url("https://api.omoguru.com/webwidget/fonts/woff/OmoTypeC-BlackOne.woff")
    format("woff");
  font-weight: 800;
  font-style: normal;
}

/* OmoTypeD */
@font-face {
  font-family: OmoTypeD-;
  src: url("https://api.omoguru.com/webwidget/fonts/woff/OmoTypeD-RegularOne.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OmoTypeD-;
  src: url("https://api.omoguru.com/webwidget/fonts/woff/OmoTypeD-MediumOne.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: OmoTypeD-;
  src: url("https://api.omoguru.com/webwidget/fonts/woff/OmoTypeD-BoldOne.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: OmoTypeD-;
  src: url("https://api.omoguru.com/webwidget/fonts/woff/OmoTypeD-BlackOne.woff")
    format("woff");
  font-weight: 800;
  font-style: normal;
}

/* OmoTypeE */
@font-face {
  font-family: OmoTypeE-;
  src: url("https://api.omoguru.com/webwidget/fonts/woff/OmoTypeE-RegularOne.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OmoTypeE-;
  src: url("https://api.omoguru.com/webwidget/fonts/woff/OmoTypeE-MediumOne.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: OmoTypeE-;
  src: url("https://api.omoguru.com/webwidget/fonts/woff/OmoTypeE-BoldOne.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: OmoTypeE-;
  src: url("https://api.omoguru.com/webwidget/fonts/woff/OmoTypeE-BlackOne.woff")
    format("woff");
  font-weight: 800;
  font-style: normal;
}

:root {
  --primary: #eb8b2d;
  --secondary: #2093aa;
  --svgFill: white;
  --size: 46px;
  --margin-size: 3px;
  --sizeAdjusted: calc(var(--size) + 2 * var(--margin-size));
  --animationSpeed: 0.15s;
  --triangleSize: calc(var(--sizeAdjusted) / 3);
}
@media (min-width: 768px) {
  :root {
    --size: 52px;
    --margin-size: 4px;
  }
}
.omo-widget {
  position: fixed;
  z-index: 9999999999999 !important;
  bottom: 23px;
  bottom: calc(var(--size) * 0.5);
  right: 23px;
  right: calc(var(--size) * 0.5);
  background-color: black;
  font-size: 0;
  border-radius: 26px;
  border-radius: calc(var(--size) * 0.5 + var(--margin-size));
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .omo-widget {
    top: 23px;
    top: calc(var(--size) * 0.5);
    bottom: auto;
    flex-direction: column;
  }
}
.omo-widget * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
}
.omo-widget * label:focus,
.omo-widget * label:active,
.omo-widget * button:focus,
.omo-widget * button:active {
  box-shadow: 0 0 0px 3px #2093aa;
  box-shadow: 0 0 0px var(--margin-size) var(--secondary);
}
.omo-widget__main-toggle {
  display: none !important;
}
.omo-widget__main-toggle + label {
  background: black !important;
  position: relative;
  border: none !important;
}
.omo-widget__main-toggle + label svg {
  min-width: 41.4px;
  min-width: calc(var(--size) * 0.9);
  min-height: 41.4px;
  min-height: calc(var(--size) * 0.9);
}
.omo-widget__main-toggle + label ~ * {
  transition: height 0.15s ease 0.15s, transform 0.15s ease, opacity 0.15s ease;
  transition: height var(--animationSpeed) ease var(--animationSpeed),
    transform var(--animationSpeed) ease, opacity var(--animationSpeed) ease;
  transform: scale(0.8);
  height: 0;
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}
.omo-widget__main-toggle:checked + label ~ * {
  transition: height 0.15s ease, transform 0.15s ease 0.15s,
    opacity 0.15s ease 0.15s;
  transition: height var(--animationSpeed) ease,
    transform var(--animationSpeed) ease var(--animationSpeed),
    opacity var(--animationSpeed) ease var(--animationSpeed);
  height: 52px;
  height: var(--sizeAdjusted);
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}
.omo-widget__main-toggle:checked + label ~ * .omo-widget__link-wrap {
  height: 49px;
  height: calc(var(--size) + var(--margin-size));
}
.omo-widget__main-toggle:checked + label ~ * .omo-widget__link-wrap a {
  margin-bottom: 0;
}
.omo-widget__power-toggle-wrap {
  pointer-events: none !important;
}
.omo-widget__power-toggle-wrap > * {
  opacity: 0.5;
}
.omo-widget__power-toggle {
  display: none;
}
.omo-widget.has-changes
  .omo-widget__main-toggle:checked
  + label
  ~ .omo-widget__power-toggle-wrap {
  pointer-events: all !important;
}
.omo-widget.has-changes
  .omo-widget__main-toggle:checked
  + label
  ~ .omo-widget__power-toggle-wrap
  > * {
  opacity: 1;
}
.omo-widget.has-changes .omo-widget__main-toggle + label svg #active-status {
  fill: #eb8b2d;
  fill: var(--primary);
}
.omo-widget.power-off > .omo-widget__main-toggle {
  background: white !important;
}
.omo-widget.power-off
  > .omo-widget__main-toggle:checked
  + label
  ~ *:not(:nth-last-child(-n + 2)) {
  opacity: 0.4;
  pointer-events: none;
}
.omo-widget.power-off .omo-widget__power-toggle + label {
  background: black !important;
}
.omo-widget__add,
.omo-widget__substract,
.omo-widget__reset,
.omo-widget__power-toggle + label,
.omo-widget__main-toggle + label,
.omo-widget__toggle-options + label,
.omo-widget__background-choice + label,
.omo-widget__link-wrap a,
.omo-widget__type-preview {
  -webkit-appearance: none;
  display: block;
  width: 46px;
  width: var(--size);
  height: 46px;
  height: var(--size);
  margin: 3px !important;
  margin: var(--margin-size) !important;
  background: transparent;
  border: 2px solid white;
  border-radius: 50%;
  font-size: 0;
  cursor: pointer;
}
.omo-widget__add.active,
.omo-widget__substract.active,
.omo-widget__reset.active,
.omo-widget__power-toggle + label.active,
.omo-widget__main-toggle + label.active,
.omo-widget__toggle-options + label.active,
.omo-widget__background-choice + label.active,
.omo-widget__link-wrap a.active,
.omo-widget__type-preview.active {
  background-color: white;
}
.omo-widget__add.active + svg .color-in,
.omo-widget__add.active > svg .color-in,
.omo-widget__substract.active + svg .color-in,
.omo-widget__substract.active > svg .color-in,
.omo-widget__reset.active + svg .color-in,
.omo-widget__reset.active > svg .color-in,
.omo-widget__power-toggle + label.active + svg .color-in,
.omo-widget__power-toggle + label.active > svg .color-in,
.omo-widget__main-toggle + label.active + svg .color-in,
.omo-widget__main-toggle + label.active > svg .color-in,
.omo-widget__toggle-options + label.active + svg .color-in,
.omo-widget__toggle-options + label.active > svg .color-in,
.omo-widget__background-choice + label.active + svg .color-in,
.omo-widget__background-choice + label.active > svg .color-in,
.omo-widget__link-wrap a.active + svg .color-in,
.omo-widget__link-wrap a.active > svg .color-in,
.omo-widget__type-preview.active + svg .color-in,
.omo-widget__type-preview.active > svg .color-in {
  fill: black;
}
.omo-widget__add.active::after,
.omo-widget__substract.active::after,
.omo-widget__reset.active::after,
.omo-widget__power-toggle + label.active::after,
.omo-widget__main-toggle + label.active::after,
.omo-widget__toggle-options + label.active::after,
.omo-widget__background-choice + label.active::after,
.omo-widget__link-wrap a.active::after,
.omo-widget__type-preview.active::after {
  border-color: transparent transparent black transparent;
}
.omo-widget__link-wrap {
  margin-bottom: 0;
  overflow: hidden;
}
.omo-widget__link-wrap a {
  background: #2093aa;
  background: var(--secondary);
}
.omo-widget__option-value {
  display: none !important;
}
.omo-widget svg {
  display: block !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  max-width: 55%;
  max-height: 55%;
  height: auto;
}
.omo-widget svg .color-in {
  fill: white;
  fill: var(--svgFill);
}
.omo-widget form {
  position: relative;
}
.omo-widget form.valid::after {
  content: "";
  width: 46px;
  width: var(--size);
  height: 46px;
  height: var(--size);
  background: #eb8b2d;
  background: var(--primary);
  position: absolute;
  right: 3px;
  right: var(--margin-size);
  top: 3px;
  top: var(--margin-size);
  z-index: 323;
  border-radius: 50%;
}
.omo-widget form.valid [type="reset"] {
  display: flex;
}
.omo-widget__toggle-options {
  display: none;
}
.omo-widget__toggle-options + label ~ form {
  transition: width 0.15s ease 0.15s;
  transition: width var(--animationSpeed) ease var(--animationSpeed);
  width: 52px;
  width: var(--sizeAdjusted);
  height: 52px;
  height: var(--sizeAdjusted);
  pointer-events: none;
  display: flex;
}
.omo-widget__toggle-options + label ~ form > * {
  transition: opacity 0.15s ease;
  transition: opacity var(--animationSpeed) ease;
  opacity: 0;
}
.omo-widget__toggle-options:checked + label ~ form {
  transition: width 0.15s ease;
  transition: width var(--animationSpeed) ease;
  width: 156px;
  width: calc(3 * var(--sizeAdjusted));
  pointer-events: all;
}
.omo-widget__toggle-options:checked + label ~ form [type="reset"] {
  transition: opacity 0.15s ease;
  transition: opacity var(--animationSpeed) ease;
  position: absolute;
  left: 0;
  opacity: 0;
}
.omo-widget__toggle-options:checked + label ~ form.valid {
  transition: width 0.15s ease, padding 0.15s ease;
  transition: width var(--animationSpeed) ease,
    padding var(--animationSpeed) ease;
  width: 208px;
  width: calc(4 * var(--sizeAdjusted));
  padding-left: 52px;
  padding-left: var(--sizeAdjusted);
}
.omo-widget__toggle-options:checked + label ~ form.valid [type="reset"] {
  transition: opacity 0.15s ease;
  transition: opacity var(--animationSpeed) ease;
  opacity: 1;
}
.omo-widget__toggle-options:checked + label ~ form > * {
  transition: opacity 0.15s ease 0.15s;
  transition: opacity var(--animationSpeed) ease var(--animationSpeed);
  opacity: 1;
}
.omo-widget__toggle-options > * {
  transition: opacity 0.15s ease;
  transition: opacity var(--animationSpeed) ease;
  opacity: 1;
}
.omo-widget fieldset {
  border: none;
  position: relative;
}
.omo-widget form {
  position: absolute;
  top: 0;
  right: 0;
  background: black;
  border-radius: 26px;
  border-radius: calc(var(--sizeAdjusted) * 0.5);
  padding-right: 52px;
  padding-right: var(--sizeAdjusted);
  z-index: -1;
}
.omo-widget [type="reset"] {
  position: relative;
}
.omo-widget__add,
.omo-widget__substract {
  position: relative;
}
.omo-widget__add::after,
.omo-widget__substract::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%) rotate(180deg);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 17.33333px 17.33333px 17.33333px;
  border-width: 0 var(--triangleSize) var(--triangleSize) var(--triangleSize);
  border-color: transparent transparent white transparent;
}
.omo-widget__add::after {
  transform: translate(-50%, -100%);
}
:root {
  --bgColor0: #eff3ee;
  --bgColor1: #d9d8d8;
  --bgColor2: #231f20;
  --bgColor3: #9fb5de;
  --bgColor4: #b894c4;
  --bgColor5: #e2b0af;
}
body {
  background: white;
}
.omo-widget [data-setting-name="background"] {
  position: relative;
  z-index: 1;
}
.omo-widget [data-setting-name="background"] form {
  transition: all 0.15s ease 0.15s;
  transition: all var(--animationSpeed) ease var(--animationSpeed);
  height: 124px;
  height: calc(var(--sizeAdjusted) * 2 + 20px);
  bottom: -10px;
  top: auto;
  display: flex;
  flex-wrap: wrap;
}
.omo-widget [data-setting-name="background"] form > * {
  transition: opacity 0.15s ease;
  transition: opacity var(--animationSpeed) ease;
  opacity: 0 !important;
}
.omo-widget [data-setting-name="background"] form.valid::after {
  display: none;
}
.omo-widget
  [data-setting-name="background"]
  .omo-widget__toggle-options
  + label {
  background: white;
}
.omo-widget
  [data-setting-name="background"]
  .omo-widget__toggle-options:checked
  + label
  ~ form {
  transition: width 0.15s ease;
  transition: width var(--animationSpeed) ease;
  width: 176px;
  width: calc(var(--sizeAdjusted) * 3 + 20px);
  padding: 10px;
  border-top-right-radius: var(--sizeAdjusted/2);
  border-bottom-right-radius: 0px;
  margin-right: 52px;
  margin-right: var(--sizeAdjusted);
}
.omo-widget
  [data-setting-name="background"]
  .omo-widget__toggle-options:checked
  + label
  ~ form
  > *:not(.omo-widget__reset) {
  transition: opacity 0.15s ease 0.15s;
  transition: opacity var(--animationSpeed) ease var(--animationSpeed);
  opacity: 1 !important;
}
.omo-widget
  [data-setting-name="background"]
  .omo-widget__toggle-options:checked
  + label
  ~ form.valid::before {
  content: "";
  position: absolute;
  background: black;
  width: 124px;
  width: calc(2 * var(--sizeAdjusted) + 20px);
  height: 72px;
  height: calc(var(--sizeAdjusted) + 20px);
  z-index: -1;
  top: 0;
  right: calc(100% - 72px);
  right: calc(100% - var(--sizeAdjusted) - 20px);
  border-top-left-radius: 52px;
  border-top-left-radius: calc(var(--sizeAdjusted) + 10px);
  border-bottom-left-radius: 52px;
  border-bottom-left-radius: calc(var(--sizeAdjusted) + 10px);
}
.omo-widget
  [data-setting-name="background"]
  .omo-widget__toggle-options:checked
  + label
  ~ form.valid
  .omo-widget__reset {
  opacity: 1 !important;
}
.omo-widget [data-setting-name="background"]::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 10px);
  width: calc(100% - 2 * (var(--margin-size) + 2px));
  height: 0;
  padding-top: calc(50% - 6px);
  padding-top: calc(50% - 2 * var(--margin-size));
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border-top: 23px solid white;
  border-top: calc(var(--size) / 2) solid white;
  background: black;
  pointer-events: none;
}
.omo-widget [data-setting-name="background"][data-value="0"]::after {
  background: #eff3ee;
  background: var(--bgColor0);
}
.omo-widget [data-setting-name="background"][data-value="1"]::after {
  background: #d9d8d8;
  background: var(--bgColor1);
}
.omo-widget [data-setting-name="background"][data-value="2"]::after {
  background: #231f20;
  background: var(--bgColor2);
}
.omo-widget [data-setting-name="background"][data-value="3"]::after {
  background: #9fb5de;
  background: var(--bgColor3);
}
.omo-widget [data-setting-name="background"][data-value="4"]::after {
  background: #b894c4;
  background: var(--bgColor4);
}
.omo-widget [data-setting-name="background"][data-value="5"]::after {
  background: #e2b0af;
  background: var(--bgColor5);
}
.omo-widget [data-setting-name="background"] .omo-widget__reset {
  position: absolute;
  right: calc(100% - 10px);
  background: black;
  left: auto !important;
}
.omo-widget [data-setting-name="background"] .omo-widget__reset:active {
  background: white;
}
.omo-widget [data-setting-name="background"] .omo-widget__background-choice {
  display: none;
}
.omo-widget
  [data-setting-name="background"]
  .omo-widget__background-choice[value="0"]
  + label {
  background: #eff3ee !important;
  background: var(--bgColor0) !important;
}
.omo-widget
  [data-setting-name="background"]
  .omo-widget__background-choice[value="1"]
  + label {
  background: #d9d8d8 !important;
  background: var(--bgColor1) !important;
}
.omo-widget
  [data-setting-name="background"]
  .omo-widget__background-choice[value="2"]
  + label {
  background: #231f20 !important;
  background: var(--bgColor2) !important;
}
.omo-widget
  [data-setting-name="background"]
  .omo-widget__background-choice[value="3"]
  + label {
  background: #9fb5de !important;
  background: var(--bgColor3) !important;
}
.omo-widget
  [data-setting-name="background"]
  .omo-widget__background-choice[value="4"]
  + label {
  background: #b894c4 !important;
  background: var(--bgColor4) !important;
}
.omo-widget
  [data-setting-name="background"]
  .omo-widget__background-choice[value="5"]
  + label {
  background: #e2b0af !important;
  background: var(--bgColor5) !important;
}
.omo-widget
  [data-setting-name="background"]
  .omo-widget__background-choice:checked
  + label {
  border-color: #eb8b2d;
  border-color: var(--primary);
}
.omo-widget
  [data-setting-name="font-type"]
  .omo-widget__toggle-options:checked
  ~ form {
  width: 208px;
  width: calc(4 * var(--sizeAdjusted));
}
.omo-widget
  [data-setting-name="font-type"]
  .omo-widget__toggle-options:checked
  ~ form.valid {
  transition: width 0.15s ease, padding 0.15s ease;
  transition: width var(--animationSpeed) ease,
    padding var(--animationSpeed) ease;
  width: 260px;
  width: calc(5 * var(--sizeAdjusted));
  padding-left: 52px;
  padding-left: var(--sizeAdjusted);
}
.omo-widget
  [data-setting-name="font-type"]
  .omo-widget__toggle-options:checked
  ~ form.valid
  [type="reset"] {
  transition: opacity 0.15s ease 0.15s;
  transition: opacity var(--animationSpeed) ease var(--animationSpeed);
  opacity: 1;
}
.omo-widget__type-preview {
  position: relative;
  pointer-events: none;
}
.omo-widget__type-preview svg {
  display: none !important;
}
.omo-widget__type-preview:not([data-selected]) svg:nth-child(1),
.omo-widget__type-preview[data-selected="O"] svg:nth-child(1) {
  display: block !important;
}
.omo-widget__type-preview[data-selected="A"] svg:nth-child(2) {
  display: block !important;
}
.omo-widget__type-preview[data-selected="B"] svg:nth-child(3) {
  display: block !important;
}
.omo-widget__type-preview[data-selected="C"] svg:nth-child(4) {
  display: block !important;
}
.omo-widget__type-preview[data-selected="D"] svg:nth-child(5) {
  display: block !important;
}
.omo-widget__type-preview[data-selected="E"] svg:nth-child(6) {
  display: block !important;
}
